.test1 {
    transform: rotate(45deg);
}
.test2 {
    animation-name: toradius;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
    animation-delay: .1s;
}